Repository vuejs/vuex, pull requests merged in 2020-03, with the labels that each got.

#1632 Typo correction "변이을" -> "변이를"
  docs/kr/guide/plugins.md
Labels: docs

#1688 Typo Fix : 돌연 변이 -> 변이
  docs/kr/guide/mutations.md
Labels: docs

#1692 build: add vue as a peer dependency (#1681)
  package.json
Labels: dependencies, enhancement

#1687 docs: make obvious where to import store from
  docs/guide/modules.md
Labels: docs

#834 add Store#hasModule(path) API
  src/module/module-collection.js
  src/module/module.js
  src/store.js
  test/unit/modules.spec.js
Labels: proposal
