Repository vuejs/vuex, pull requests merged in 2020-10, with the labels that each got.

#1838 docs: warn about calling unsubscribe (fix #1050)
  docs/api/README.md
Labels: docs

#1853 feat(types): adding logger type for logger plugin
  types/logger.d.ts
  types/test/index.ts
Labels: typescript

#1860 [Repair] #1823 Getters are re-evaluated on every access
  src/store.js
Labels: 4.0, bug

#1858 docs: [RU] Translation update
  docs/ru/README.md
  docs/ru/api/README.md
  docs/ru/guide/README.md
  docs/ru/guide/actions.md
  docs/ru/guide/forms.md
  docs/ru/guide/getters.md
  docs/ru/guide/modules.md
  docs/ru/guide/mutations.md
  docs/ru/guide/plugins.md
  docs/ru/guide/state.md
  docs/ru/guide/strict.md
  docs/ru/installation.md
Labels: 3.0, docs
