Repository vuejs/vuex, pull requests merged in 2020-05, with the labels that each got.

#1741 docs: module state declaration as function
  docs/api/README.md
  docs/fr/guide/modules.md
  docs/guide/modules.md
  docs/ja/guide/modules.md
  docs/kr/guide/modules.md
  docs/ptbr/guide/modules.md
  docs/ru/guide/modules.md
  docs/zh/guide/modules.md
  examples/shopping-cart/store/modules/cart.js
  examples/shopping-cart/store/modules/products.js
Labels: docs

#1735 chore: enhance release script
  package.json
  scripts/release.js
  scripts/release.sh
  yarn.lock
Labels: enhancement

#1738 build: migrate tests to jest
  .babelrc
  .eslintrc.json
  .gitignore
  examples/chat/app.js
  examples/counter/app.js
  examples/shopping-cart/app.js
  examples/todomvc/app.js
  jest.config.js
  package.json
  test/.eslintrc.json
  test/setup.js
  test/unit/.eslintrc
  test/unit/helpers.spec.js
  test/unit/hot-reload.spec.js
  test/unit/jasmine.json
  test/unit/module/module-collection.spec.js
  test/unit/module/module.spec.js
  test/unit/modules.spec.js
  test/unit/setup.js
  test/unit/store.spec.js
  test/unit/util.spec.js
  yarn.lock
Labels: build

#1740 Allow action subscribers to catch rejections.
  src/store.js
  test/unit/modules.spec.js
  types/index.d.ts
  types/test/index.ts
Labels: proposal

#1746 docs: add docs for the new `error` option for `subscribeAction` method
  docs/api/README.md
Labels: docs

#1744 docs: add Dynamic module hot reloading example
  docs/guide/hot-reload.md
Labels: docs

#1747 docs: [RU] Translation update
  docs/ru/api/README.md
  docs/ru/guide/hot-reload.md
Labels: docs

#1749 refactor: remove node env flag
  jest.config.js
  src/store.js
Labels: 4.0, bug

#1750 docs(ja): update the latest changes
  docs/ja/api/README.md
  docs/ja/guide/hot-reload.md
Labels: docs
