Repository vuejs/vuex, pull requests merged in 2020-06, with the labels that each got.

#1773 Fix "Release Notes" French translation
  docs/.vuepress/config.js
Labels: docs

#1776 docs: Fix missing information in the guide.
  docs/zh/guide/README.md
Labels: docs

#1775 docs: replace the use of blacklist
  docs/fr/guide/plugins.md
  docs/guide/plugins.md
  docs/ja/guide/plugins.md
  docs/kr/guide/plugins.md
  docs/ptbr/guide/plugins.md
  docs/ru/guide/plugins.md
  docs/zh/guide/plugins.md
Labels: docs

#1779 Fix: Document return value when item was not found
  test/unit/util.spec.js
Labels: test

#1778 test: migrate e2e test to puppeteer from nightwatch
  jest.config.js
  package.json
  test/e2e/cart.spec.js
  test/e2e/chat.spec.js
  test/e2e/counter.spec.js
  test/e2e/nightwatch.config.js
  test/e2e/runner.js
  test/e2e/specs/cart.js
  test/e2e/specs/chat.js
  test/e2e/specs/counter.js
  test/e2e/specs/todomvc.js
  test/e2e/todomvc.spec.js
  test/helpers.js
  yarn.lock
Labels: test

#1782 docs(guide/modules): Add examples for mapGetters with namespace
  docs/guide/modules.md
Labels: docs

#1783 feat: include logger plugin to the core export
  src/index.cjs.js
  src/index.js
  types/index.d.ts
  types/logger.d.ts
  types/test/index.ts
Labels: enhancement

#1784 docs: update the new `logger` plugin export path
  docs/guide/plugins.md
Labels: docs

#1789 fix(types): add missing `logger.d.ts` file to the package (#1787)
  package.json
Labels: bug, typescript
