Repository vuejs/vuex, pull requests merged in 2020-04, with the labels that each got.

#1706 docs: add docs and typings for the new `hasModule` method
  docs/api/README.md
  docs/guide/modules.md
  types/index.d.ts
  types/test/index.ts
Labels: docs, typescript

#1713 docs: [RU] Translation update
  docs/ru/api/README.md
  docs/ru/guide/actions.md
  docs/ru/guide/modules.md
Labels: docs

#1714 docs(ru): fix punctuation and typos
  docs/ru/README.md
  docs/ru/api/README.md
  docs/ru/guide/README.md
  docs/ru/guide/actions.md
  docs/ru/guide/modules.md
Labels: docs

#1707 build: add conventional changelog support
  .github/commit-convention.md
  .github/contributing.md
  CHANGELOG.md
  README.md
  build/release.sh
  package.json
  yarn.lock
Labels: enhancement

#1564 修改病句
  docs/zh/guide/state.md
Labels: docs

#1715 build: align build system with vue 3
  .eslintrc
  .gitignore
  build/build.main.js
  build/configs.js
  build/rollup.dev.config.js
  build/rollup.logger.config.js
  dist/logger.js
  dist/vuex.common.js
  dist/vuex.esm.browser.js
  dist/vuex.esm.browser.min.js
  dist/vuex.esm.js
  dist/vuex.js
  dist/vuex.min.js
  examples/webpack.config.js
  package.json
  rollup.config.js
  rollup.logger.config.js
  rollup.main.config.js
  scripts/build-logger.js
  scripts/build-main.js
  scripts/build.js
  scripts/release.sh
  src/helpers.js
  src/index.cjs.js
  src/index.js
  src/module/module-collection.js
  src/store.js
  test/e2e/specs/todomvc.js
  test/unit/helpers.spec.js
  test/unit/hot-reload.spec.js
  test/unit/modules.spec.js
  test/unit/setup.js
  test/unit/store.spec.js
  yarn.lock
Labels: 4.0, enhancement

#1519 docs(fr): Fix typo
  docs/fr/guide/mutations.md
  docs/fr/guide/state.md
Labels: docs

#1468 docs: add a description of providing store to Vue instance
  docs/guide/README.md
Labels: docs

#1719 docs: unified the tips format
  docs/fr/guide/README.md
  docs/guide/README.md
  docs/ja/guide/README.md
  docs/kr/guide/README.md
  docs/ptbr/guide/README.md
  docs/ru/guide/README.md
  docs/zh/guide/README.md
Labels: docs

#1720 docs: [RU] Translation update
  docs/ru/api/README.md
  docs/ru/guide/README.md
Labels: docs

#1425 Fix false negative when checking `payload: false`
  docs/guide/testing.md
Labels: docs

#1723 docs: [RU] Update testing.md
  docs/ru/guide/testing.md
Labels: docs

#1722 docs(ja): add `hasModule` api translation
  docs/ja/api/README.md
  docs/ja/guide/modules.md
Labels: docs

#987 Proposal: createLogger can optionally log actions
  dist/logger.d.ts
  docs/guide/plugins.md
  src/plugins/devtool.js
  src/plugins/logger.js
Labels: proposal

#1717 types: add typing support
  README.md
  package.json
  types/helpers.d.ts
  types/index.d.ts
  types/test/helpers.ts
  types/test/index.ts
  types/test/tsconfig.json
  types/test/vue.ts
  types/tsconfig.json
  types/vue.d.ts
  yarn.lock
Labels: 4.0, typescript

#1724 types: add subscribe options type
  types/index.d.ts
  types/test/index.ts
Labels: typescript

#1726 docs: [RU] Translation update
  docs/ru/api/README.md
  docs/ru/guide/plugins.md
Labels: docs

#1727 docs: Fix example in api/README.md
  docs/api/README.md
Labels: docs

#1728 docs(ja): translate new options for the `subscribe` methods and logger plugin
  docs/ja/api/README.md
  docs/ja/guide/plugins.md
Labels: docs

#1731 chore(readme): language and example code improvements.
  README.md
Labels: 4.0, docs

#1729 build: update the build system to the latest structure
  .eslintrc
  .gitignore
  build/build.main.js
  build/configs.js
  build/rollup.dev.config.js
  build/rollup.logger.config.js
  examples/webpack.config.js
  package.json
  rollup.config.js
  rollup.logger.config.js
  rollup.main.config.js
  scripts/build-logger.js
  scripts/build-main.js
  scripts/build.js
  scripts/release.sh
  src/helpers.js
  src/index.cjs.js
  src/index.js
  src/module/module-collection.js
  src/store.js
  test/unit/helpers.spec.js
  test/unit/hot-reload.spec.js
  test/unit/modules.spec.js
  test/unit/setup.js
  test/unit/store.spec.js
  types/test/tsconfig.json
  types/tsconfig.json
  yarn.lock
Labels: build

#1739 types: add `useStore` function (#1736)
  types/index.d.ts
  types/test/index.ts
Labels: 4.0, bug, typescript
